{% form_theme form  'form/_theme/form_errors.html.twig' %}

{{ form_start(form, {'action': path('index'), 'attr': {'data-valid': form.vars.valid|number_format}}) }}
<div class="modal-body">


    {{ form_row(form.postalAdress) }}

    {{ form_row(form.ipAdress) }}
</div>
<div class="modal-footer">

    <button type="submit" class="btn btn-primary pull-right">
        {{ 'confirm.label'|trans({}, 'action') }}
    </button>
    {{ form_rest(form) }}
</div>
{{ form_end(form) }}