{%- block password_widget -%}
    <div class="input-group">
        {%- set type = type|default('password') -%}
        {{ block('form_widget_simple') }}
        <div class="input-group-append">
            <div class="input-group-text">
                <a class="password-toggle" href="#">
                    {{ svg('eye', 'd-none') }}
                    {{ svg('eye-slash') }}
                </a>
            </div>
        </div>
    </div>
{%- endblock password_widget -%}
