{#
# jquery.collection.html.twig
#
# Adds the following html attributes to the root node of your collection fields:
#
# - data-prototype-name: placeholder used in the prototype to replace element indexes on the collection
# - data-allow-add: if set to false, plugin will automatically set allow_add option to false
# - data-allow-delete: if set to false, plugin will automatically set allow_remove option to false
# - data-name-prefix: contains the collection's prefix used in descendant field names
#
# Those information let you configure the plugin options automatically.
#
# If you are already using a form theme, you can use both by using:
# {%
#   form_theme myForm
#       'FuzAppBundle::my-form-theme.html.twig'
#       'FuzAppBundle::jquery.collection.html.twig'
#       ...
# %}
#}

{% block admin_answer_widget %}

    {{ form_errors(form) }}

    {{ form_row(form.translations) }}
    {{ form_row(form.picture) }}

    {% if picture_uri is defined and picture_uri is not null %}
        <img src="{{ picture_uri }}" alt="" class="answer-picture"/>
    {% endif %}

    {{ form_row(form.value) }}
{% endblock %}

{% block _admin_questionnaire_questions_block_entry_widget  %}
    <div class="question-item">
        <div class="question-item__header" id="question__heading--{{ form.vars.name }}">
            <h3 class="mb-0 text-center">
                <a href="#" class="question-item__label" data-toggle="collapse" data-target="#question__collapse--{{ form.vars.name }}" aria-expanded="true" aria-controls="question__collapse--{{ form.vars.name }}">
                    {{ 'question.title.label'|trans({}, 'adminForm') ~ form.vars.name }}
                    {{ svg('icon-chevron-next') }}
                </a>
            </h3>
        </div>


        <div id="question__collapse--{{ form.vars.name }}" class="collapse show" aria-labelledby="question__heading--{{ form.vars.name }}" data-parent="#questions__accordion">
            {{ form_widget(form) }}
        </div>


    </div>

    <div class="admin-questionnaire__submit">
        <button type="submit" class="btn btn-primary">{{ 'questionnaire.save'|trans({}, 'adminAction') }}</button>
    </div>


{% endblock %}
