<footer id="main-footer">

    <div class="container">
        <div id="footer-widgets" class="clearfix">
            <div class="footer-widget"><div id="text-3" class="fwidget et_pb_widget widget_text"><h4 class="title">Solutions</h4>			<div class="textwidget"><ul>
                            <li><a href="https://oneytrust.com/solutions/score/">Score</a></li>
                            <li><a href="https://oneytrust.com/solutions/digital-review/">Digital Review</a></li>
                            <li><a href="https://oneytrust.com/solutions/digital-paper/">Digital Paper</a></li>
                        </ul>
                    </div>
                </div> <!-- end .fwidget --></div> <!-- end .footer-widget --><div class="footer-widget"><div id="text-4" class="fwidget et_pb_widget widget_text"><h4 class="title">Suivez-nous</h4>			<div class="textwidget"><ul>
                            <li><a href="https://www.linkedin.com/company/oneytrust/" target="_blank" rel="noopener">LinkedIn</a></li>
                            <li><a href="https://twitter.com/oneytrust" target="_blank" rel="noopener">Twitter</a></li>
                            <li><a href="https://www.facebook.com/oneytrust/" target="_blank" rel="noopener">Facebook</a></li>
                        </ul>
                    </div>
                </div> <!-- end .fwidget --></div> <!-- end .footer-widget --><div class="footer-widget"><div id="media_image-3" class="fwidget et_pb_widget widget_media_image"><img width="313" height="95" src="https://oneytrust.com/wp-content/uploads/2018/11/finalist_mrc_award2.png" class="image wp-image-48074  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" srcset="https://oneytrust.com/wp-content/uploads/2018/11/finalist_mrc_award2.png 313w, https://oneytrust.com/wp-content/uploads/2018/11/finalist_mrc_award2-300x91.png 300w" sizes="(max-width: 313px) 100vw, 313px" /></div> <!-- end .fwidget --></div> <!-- end .footer-widget -->    </div> <!-- #footer-widgets -->
    </div>    <!-- .container -->


    <div id="et-footer-nav">
        <div class="container">
            <ul id="menu-menu_footer" class="bottom-nav"><li id="menu-item-47264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-47109 current_page_item menu-item-47264"><a href="https://oneytrust.com/">Accueil</a></li>
                <li id="menu-item-47680" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47680"><a href="https://oneytrust.com/blog/">Blog</a></li>
                <li id="menu-item-47266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47266"><a href="https://oneytrust.com/contact/">Contact</a></li>
                <li id="menu-item-47267" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47267"><a href="https://oneytrust.com/mentions-legales/">Mentions légales</a></li>
                <li id="menu-item-47800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47800"><a href="https://oneytrust.com/politique-de-protection-des-donnees/">Politique de protection des données</a></li>
            </ul>					</div>
    </div> <!-- #et-footer-nav -->


    <div id="footer-bottom">
        <div class="container clearfix">
        </div>	<!-- .container -->
    </div>
</footer> <!-- #main-footer -->