<header class="header no-print {% block header_class %}{% endblock %}">
    <nav class="navbar navbar-expand-xl navbar-light">
        <div class="container">
            <a href="">
                <img src="https://oneytrust.com/wp-content/uploads/2017/11/logo_OT_petit.jpg" alt="Oneytrust" id="logo" data-height-percentage="54" />
            </a>
            {{ knp_menu_render('locales', {'template': 'menu/locales.html.twig'}) }}

        </div>
    </nav>
</header>