{% extends 'base.html.twig' %}



{% block body %}
    {% block loaderFullScreen %}{% endblock %}


        {% include 'header.html.twig' %}

    <div id="main-wrapper" >
        {% block content %} {{ 'distance.label'|trans({}, 'action') }} : {{ distance }}  Km {% endblock %}

        {% include 'form/form.html.twig' %}
    </div>
{% endblock %}
